.hm-app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .hm-content {
    width: 100%;
    overflow: hidden;
    flex: 1;
    padding: 0;
    position: relative;

    .hm-page-container {
      height: 100%;
      width: 100%;
      position: absolute;

      .hm-page {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        position: relative;
      }
    }
  }
}

.device {
  .hm-app {
    .hm-top-bar {
      margin: 0;
      padding: 0;
    }
  }
}